In [1]:
scores = '../out/ko_scores.txt'

In [2]:
# plotting imports
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('white')

plt.rc('font', size=11)
plt.rc('xtick', labelsize=11)
plt.rc('ytick', labelsize=11)
plt.rc('axes', labelsize=12, titlesize=12)
plt.rc('legend', fontsize=11)

In [3]:
# other imports
import pandas as pd

In [5]:
m = pd.read_table(scores)
m['plate'] = [int(x.split('_')[0])
              for x in m['position']]
m['row'] = [int(x.split('_')[1])
            for x in m['position']]
m['column'] = [int(x.split('_')[2])
               for x in m['position']]

In [6]:
m.head()

,strain,condition,gene,name,position,score,qvalue,plate,row,column
0,S288C,"2,4-Dichlorophenoxyacetic acid (48H)",WT,NaN,01_01_24,0.081355,1.00000,1,1,24
1,S288C,"2,4-Dichlorophenoxyacetic acid (48H)",WT,NaN,01_06_02,0.127066,1.00000,1,6,2
2,S288C,"2,4-Dichlorophenoxyacetic acid (48H)",WT,NaN,01_29_07,0.297986,1.00000,1,29,7
3,S288C,"2,4-Dichlorophenoxyacetic acid (48H)",WT,NaN,02_12_15,-0.160392,1.00000,2,12,15
4,S288C,"2,4-Dichlorophenoxyacetic acid (48H)",WT,NaN,02_12_32,-0.671234,0.97099,2,12,32

<h5><a href="javascript:toggle()" target="_self">toggle source code</a></h5>